body {
   width: 1440px;
   background-color: transparent;
}

#container {
   background-color: #f1f1f1;
   position: relative;
   width: 100%;
   height: 300px;
}

.imglogo {
   width: 258px;
   height: 141px;
   position: absolute;
   top: 50px;
   left: 600px;
}

#navbar {
   border: 0;
   border-top: 5px solid #cbcbcb;
   margin: 1em 0;
   padding: 0;
}

nav {
   position: relative;
   top: -100px;
   float: left;
   left: 420px;
   width: 50%;
   font-family: Lato, sans-serif;
   font-weight: 300;
   font-size: 20px;
}

nav ul {
   width: 100%;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   width: 25%;
   float: left;
}

nav ul li a {
   display: block;
   color: #808080;
}

#about {
   font-weight: 900;
   color: #fedcd2;
}

#titlebox {
   width: 490px;
   height: 72px;
   position: relative;
   top: 100px;
   left: 460px;
   text-align: center;
   background-color: #f1f1f1;
   border: 5px solid #fedcd2;
}

h1 {
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 300;
   font-style: italic;
   color: #808080;
}

#imgbox {
   width: 494px;
   height: 471px;
   position: relative;
   top: 200px;
   left: 115px;
   box-shadow: -3px -3px 5px 6px #ccc;
   z-index: 2;
}

#infobox {
   width: 880px;
   height: 471px;
   position: relative;
   top: -200px;
   left: 400px;
   background-color: #fedcd2;
   border: 5px solid #f1f1f1;
   box-shadow: 3px -3px 5px 6px #ccc;
   z-index: 1;
}

#p1 {
   width: 561px;
   position: relative;
   top: 100px;
   left: 250px;
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-size: 25px;
   font-style: italic;
   color: #4d4d4d;
}

#p2 {
   width: 561px;
   position: relative;
   top: 120px;
   left: 250px;
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-size: 25px;
   font-style: italic;
   color: #4d4d4d;
}

.Contact {
   display: inline-block;
   position: relative;
   left: 515px;
   width: 385px;
   height: 70px;
   background-color: #f1f1f1;
   border: 5px solid #fedcd2;
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 300;
   font-size: 30px;
   color: #808080;
   transition: all 500ms ease;
}

.Contact:hover {
   background: rgba(0, 0, 0, 0);
   color: #fedcd2;
   box-shadow: 0 0 0 3px rgb(227, 227, 227);
}

#footer {
   background-color: #f1f1f1;
   position: relative;
   top: 200px;
   width: 100%;
   height: 200px;
}
