

a:link {
   text-decoration:none;
}

h2 {
   color: #253945;
}

.photos img {
   position: static;
   width: 25%;
   height: auto;
}

.photos img:nth-child(1) {
   margin-left: 22px;
   margin-right: 23px;
   margin-top: 0px;
   margin-bottom: 30px;
}

.photos img:nth-child(2) {
   margin-left: 0px;
   margin-right: 20px;
   margin-top: 0px;
   margin-bottom: 30px;
}

.photos img:nth-child(3){
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.photos img:nth-child(4){
    margin-left: 21px;
    margin-right: 23px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.photos img:nth-child(5){
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.photos img:nth-child(6){
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}


#about-me img {
    margin-left: 130px;
    margin-bottom: 100px;
}

#about-me p {
   text-align: left;
   margin-left: 700px;
   margin-top: -600px;
   margin-right: 80px;
   margin-bottom: 200px;
   font-family: roboto, sans-serif;
   font-size: 36px;
}

/*
@media only screen and (min-width: 1200px) {
    
    
}

@media only screen and (min-width: 992px) {
    
    
}

@media screen and (max-width: 768px) {
   nav {
      width: 8.5%;
   }
}

@media screen and (max-width: 526px) {
  
   .img {
       width: 100%;
   }
}

