html {
   width: 1440px;
   background-color: #000;
}

header {
   font-family: 'Dancing Script', cursive;
   background-color: #fbeeda;
   color: #fff;
   position: relative;
   height: 28px;
   top: 8px;
}

header h1 {
   font-size: 24px;
   text-align: center;
   color: #000;
}

#nav_container ul {
   list-style: none;
}

#nav_container ul li {
   display: inline;
}

#nav_container ul li a {
   background-color: #fbeeda;
   color: #000;
   padding: 5px 140px;
   text-decoration: none;
}

#nav_container ul li a:hover {
   background-color: #000;
   color: #fbeeda;
}
