body {
   width: 1440px;
   background-color: transparent;
}

#container {
   background-color: #f1f1f1;
   position: relative;
   width: 100%;
   height: 300px;
}

.imglogo {
   width: 258px;
   height: 141px;
   position: absolute;
   top: 50px;
   left: 600px;
}

#navbar {
   border: 0;
   border-top: 5px solid #cbcbcb;
   margin: 1em 0;
   padding: 0;
}

nav {
   position: relative;
   top: -100px;
   float: left;
   left: 420px;
   width: 50%;
   font-family: Lato, sans-serif;
   font-weight: 300;
   font-size: 20px;
}

nav ul {
   width: 100%;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   width: 25%;
   float: left;
}

nav ul li a {
   display: block;
   color: #808080;
}

#contact {
   font-weight: 900;
   color: #fedcd2;
}

label {
   position: relative;
   top: 100px;
   left: 110px;
   text-align: left;
   margin-bottom: 10px;
   display: block;
   margin-top: 40px;
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-size: 25px;
   font-weight: 500;
   color: #808080;
}

input {
   position: relative;
   top: 100px;
   left: 110px;
   width: 700px;
   height: 50px;
   font-size: 20px;
   background: #fedcd2;
   border: 5px solid #cbcbcb;
}
