html {
   height: 768px;
   width: 1024px;
   background-color: #1c1c1c;
}

h1 {
   position: absolute;
   left: 350px;
   top: 60px;
   font-family: Montserrat, sans-serif;
   color: white;
   letter-spacing: 30px;
   font-size: 50px;
}

.socialmedia {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   top: 200px;
   left: 350px;
   height: 100px;
}

form {
   width: 450px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   top: 360px;
   left: 350px;
   height: 310px;
}

input {
   width: 100%;
   height: 30px;
}

button {
   width: 20%;
}

textarea {
   resize: vertical;
   max-height: 300px;
}

input:focus textarea:focus {
   box-shadow: 0 0 4px rgba(255, 255, 255, .5);
   border: 1px solid rgb(255, 255, 255);
}

.contactfoot {
   width: 170px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: absolute;
   top: 750px;
   font-family: Titillium, sans-serif;
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: white;
}

@media only screen and (max-width: 768px) {
   h1 {
      position: absolute;
      left: 100px;
      top: 60px;
      font-family: Montserrat, sans-serif;
      color: white;
      letter-spacing: 30px;
      font-size: 50px;
   }

   .socialmedia {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 200px;
      left: 100px;
      height: 100px;
   }

   form {
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 360px;
      left: 100px;
      height: 310px;
   }

   input {
      width: 100%;
      height: 30px;
   }

   button {
      width: 20%;
   }

   textarea {
      resize: vertical;
      max-height: 300px;
   }

   .contactfoot {
      width: 150px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      top: 790px;
      font-family: Titillium, sans-serif;
   }

   a {
      color: black;
      text-decoration: none;
   }

   a:hover {
      color: white;
   }

   @media only screen and (max-width: 400px) {
      h1 {
         position: absolute;
         left: 60px;
         top: 60px;
         font-family: Montserrat, sans-serif;
         color: white;
         letter-spacing: 25px;
         font-size: 40px;
      }

      .socialmedia {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: absolute;
         top: 200px;
         left: 60px;
         height: 100px;
      }

      form {
         width: 320px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: absolute;
         top: 360px;
         left: 60px;
         height: 310px;
      }

      input {
         width: 100%;
         height: 30px;
      }

      button {
         width: 20%;
      }

      textarea {
         resize: vertical;
         max-height: 300px;
      }

      .contactfoot {
         display: none;
      }
   }
}
