footer {
    background-color: navy;
    color: inherit;
    text-align: center;
    margin: auto;
}
footer nav{
    position:relative;
    display:flex;
    justify-content: space-between;
    margin: auto;
    width: 200px
}

