html {
   width: 1440px;
   background-color: #fff;
}

ul {
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
   font-size: 24px;
   text-align: center;
}

nav > ul {
   width: 1440px;
   height: 24px;
   list-style: none;
}

nav > ul > li {
   position: relative;
   color: #fff;
   background-color: #000;
   margin: 0;
}
