html {
   width: 1260px;
   background-color: #f2f6ff;
   /* background-image: url('../img/img_8993.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
   background-size: cover; */
}

body {
   margin: 0;
   font-family: lora, serif;
   text-align: center;
}

h1 {
   display: none;
   margin: 0;
}

a:link {
   color: black;
   text-decoration: none;
   transition: 1000ms;
   border-bottom: 4px solid transparent;
}

a:visited {
   color: #3e420a;
}

a:hover {
   color: #83429c;
   border-bottom-color: red;
}

a:active {
   color: orange;
}

nav {
   width: 610px;
   font-family: Oswald, sans-serif;
   font-size: 22px;
   line-height: 44px;
   display: flex;
   justify-content: space-between;
   position: relative;
   top: 110px;
   left: 575px;
}

img:first-of-type {
   position: relative;
   top: -425px;
   left: -150px;
}

p:first-of-type {
   font-family: Quantico, sans-serif;
   position: relative;
   text-decoration: underline;
   top: 160px;
   font-size: 34px;
   text-align: center;
}

img:nth-of-type(2) {
   position: relative;
   top: 310px;
   right: 460px;
}

p:nth-of-type(2) {
   font-size: 16px;
   font-family: lora, serif;
   position: relative;
   left: -470px;
   top: 300px;
}

img:nth-of-type(3) {
   position: relative;
   top: -195px;
   left: 315px;
}

p:nth-of-type(3) {
   font-size: 16px;
   font-family: lora, serif;
   position: relative;
   left: 240px;
   top: -205px;
}

img:nth-of-type(4) {
   position: relative;
   top: -90px;
   right: 315px;
}

p:nth-of-type(4) {
   font-size: 16px;
   font-family: lora, serif;
   position: relative;
   left: -450px;
   top: -100px;
}

img:nth-of-type(5) {
   position: relative;
   top: -595px;
   left: 315px;
}

p:nth-of-type(5) {
   font-size: 16px;
   font-family: lora, serif;
   position: relative;
   left: 210px;
   top: -605px;
}

/* @media screen and (min-width: 1260px) {
   p {
      background-color: aqua;
   }
}

@media screen and (min-width: 769px) and (max-width: 1259px) {
   p {
      background-color: pink;
      width: 61%;
   }
}

@media scren and (min-width: 426px) and (max-width: 768px) {
   p {
      background-color: blue;
   }
}

@media screen and (max-width: 425px) {
   p {
      background-color: yellow;
   }
} */
