* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: Oxyen;
   src: url('fonts/Oxygen-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: Oxyen-light;
   src: url('fonts/Oxygen-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
}
@font-face {
   font-family: Oswald;
   src: url('fonts/Oswald-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}

@media (min-width: 1025px) {
   html {
      background-color: #d2dbbd;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 20px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 100px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   img {
      display: block;
      height: auto;
      width: 640px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 10px 10px 8px #555;
   }

   main {
      display: block;
      justify-content: center;
      align-items: center;
      width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      background-color: #91a99c;
      box-shadow: 10px 10px 8px #555;
      border-style: solid;
      border-color: #193441;
   }

   p {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: Oswald, sans-serif;
      font-size: 20px;
      color: #d2dbbd;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   html {
      background-color: #d2dbbd;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 20px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 70px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   img {
      display: block;
      height: auto;
      width: 480px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 10px 10px 8px #555;
   }

   main {
      display: block;
      justify-content: center;
      align-items: center;
      width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      background-color: #91a99c;
      box-shadow: 10px 10px 8px #555;
      border-style: solid;
      border-color: #193441;
   }

   p {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: Oswald, sans-serif;
      font-size: 20px;
      color: #d2dbbd;
   }
}

@media (min-width: 460px) and (max-width: 768px) {
   html {
      background-color: #d2dbbd;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 18px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 30px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   img {
      display: block;
      height: auto;
      width: 480px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 10px 10px 8px #555;
   }

   main {
      display: block;
      justify-content: center;
      align-items: center;
      width: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      background-color: #91a99c;
      box-shadow: 10px 10px 8px #555;
      border-style: solid;
      border-color: #193441;
   }

   p {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: Oswald, sans-serif;
      font-size: 20px;
      color: #d2dbbd;
   }
}

@media (min-width: 320px) and (max-width: 459px) {
   html {
      background-color: #d2dbbd;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 18px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 20px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   img {
      display: block;
      height: auto;
      width: 400px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 10px 10px 8px #555;
   }

   main {
      display: block;
      justify-content: center;
      align-items: center;
      width: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      background-color: #91a99c;
      box-shadow: 10px 10px 8px #555;
      border-style: solid;
      border-color: #193441;
   }

   p {
      width: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: Oswald, sans-serif;
      font-size: 20px;
      color: #d2dbbd;
   }
}
