@font-face {
   font-family: Oxyen;
   src: url('fonts/Oxygen-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: Oxyen-light;
   src: url('fonts/Oxygen-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
}
@media (min-width: 1025px) {
   html {
      background: url('../img/hero-cover.png') no-repeat center center fixed, url('../img/hero-bird-4x3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #000;
   }

   h1 {
      margin-top: 100px;
      color: #d2dbbd;
      text-align: center;
      font-family: Oxygen, sans-serif;
      font-size: 50px;
      letter-spacing: 8px;
   }

   nav {
      color: #d2dbbd;
      display: inline;
      text-align: center;
   }

   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 350px;
      position: static;
   }

   li {
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 100px;
      font-family: Oxyen-light, sans-serif;
      font-size: 30px;
   }

   a {
      color: inherit;
      text-decoration: none;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   html {
      background: url('../img/hero-cover.png') no-repeat center center fixed, url('../img/hero-bird-4x3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #000;
   }

   h1 {
      margin-top: 100px;
      color: #d2dbbd;
      text-align: center;
      font-family: Oxygen, sans-serif;
      font-size: 45px;
      letter-spacing: 8px;
   }

   nav {
      color: #d2dbbd;
      display: inline;
      text-align: center;
   }

   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 350px;
      position: static;
   }

   li {
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 100px;
      font-family: Oxyen-light, sans-serif;
      font-size: 30px;
   }

   a {
      color: inherit;
      text-decoration: none;
   }
}

@media (min-width: 460px) and (max-width: 768px) {
   html {
      background: url('../img/hero-cover.png') no-repeat center center fixed, url('../img/hero-bird-4x3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #000;
   }

   h1 {
      margin-top: 100px;
      color: #d2dbbd;
      text-align: center;
      font-family: Oxygen, sans-serif;
      font-size: 35px;
      letter-spacing: 4px;
   }

   nav {
      color: #d2dbbd;
      display: inline;
      text-align: center;
   }

   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 350px;
      position: static;
   }

   li {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 100px;
      font-family: Oxyen-light, sans-serif;
      font-size: 20px;
   }

   a {
      color: inherit;
      text-decoration: none;
   }
}
@media (min-width: 320px) and (max-width: 459px) {
   html {
      background: url('../img/hero-cover.png') no-repeat center center fixed, url('../img/hero-bird-4x3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #000;
   }

   h1 {
      margin-top: 200px;
      margin-left: 40px;
      color: #d2dbbd;
      text-align: center;
      font-family: Oxygen, sans-serif;
      font-size: 20px;
      letter-spacing: 4px;
   }

   nav {
      color: #d2dbbd;
      display: inline;
      text-align: center;
   }

   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 350px;
      position: static;
   }

   li {
      display: inline-block;
      margin-top: 100px;
      font-family: Oxyen-light, sans-serif;
      font-size: 20px;
   }

   a {
      color: inherit;
      text-decoration: none;
   }

   ul > li:nth-child(1) {
      transform: translate(115px, -300px);
   }

   ul > li:nth-child(2) {
      transform: translate(1px, -110px);
   }

   ul > li:nth-child(3) {
      transform: translate(-105px, -60px);
   }
}
