body {
   font-family: Niramit, sans-serif;
}

header {
   /* width: 1024px; */
   /* width: 100vw; */
   height: 60px;
   background-color: rgb(6, 220, 255);
   color: white;
   position: relative;
   margin: 30px;
   text-align: center;
   font-size: 18px;
}

nav {
   display: inline-flex;
   width: 100%;
   margin: 30px;
   /* text-align: center; */
   justify-content: space-between;
}

nav > a {
   background-color: rgb(204, 153, 255);
   color: white;
   display: inline-flex;
}

nav > a:link {
   text-decoration: none;
   padding: 2px 10px;
   border: 20px solid white;
   background-color: rgb(204, 153, 255);
   color: white;
}

.banner img {
   margin: 30px;
   width: 100%;
}

.contact {
   /* background-image: url('img/colorsHome.png'); */
   /* color: white; */
}

/*  About CSS*/
.about {
   /* background-image: url('img/colorsHome.png'); */
   /* background-color: #ccc; */
   /* height: 500px; */
   /* background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative; */
   /* display: flex;
   flex-wrap: wrap; */
}

.about-content {
   display: inline-flex;
   background-image: url('img/colorsHome.png');
   /* position: absolute; */
}

#about-text {
   /* position: absolute; */
   padding: 30px;
}

#vane {
   /* width: 100%; */
   /* position: absolute; */
}

#background {
   /* position: relative;
   opacity: .5; */
}
/*End About */

/* Works CSS */

.work-class {
   text-align: center;
   margin: 0;
   padding: 20px 0;
   width: 100%;
   background-color: rgba(255, 255, 255, .68);
   color: black;
   position: absolute;
   bottom: 0;
   left: 0;
}

.work-title {
   /* background-color: rgba(0, 0, 0, .5); */
   color: black;
}

.work-image {
   width: 100%;
}

#container {
   margin: auto;
   width: 1000px;
}

.image-container {
   position: relative;
   float: left;
   width: 50%;
   /* padding: 2px; */
}

@media (max-width: 1024px) {
   #container {
      width: 800px;
   }

   .image-container {
      width: 50%;
   }

   nav {
      width: 50%;
      display: inline-block;
   }
}

@media (max-width: 768px) {
   #container {
      width: 93%;
   }
}

@media (max-width: 400px) {
   .image-container {
      width: 100%;
   }
}

