header {
   margin: 0;
   background-color: rgb(137, 178, 255);
   width: 1280px;
   height: 192px;
}

.name-logo {
   position: relative;
   left: 350px;
   top: 6px;
}

h1 {
   font-family: caveat, sans-serif;
   font-size: 28px;
   color: rgb(58, 58, 58);
   display: block;
   margin-left: 574px;
   margin-top: 2px;
}

nav {
   background-color: rgb(51, 204, 204);
   width: 1280px;
   height: 50px;
}

.navi {
   font-family: caveat, sans-serif;
   font-size: 24px;
   position: relative;
   display: inline-flex;
   justify-content: space-between;
   width: 1000px;
   left: 100px;
   bottom: 14px;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: rgb(58, 58, 58);
}

a:hover {
   color: rgb(255, 102, 102);
   text-decoration: none;
}

.navi-portfolio {
   visibility: hidden;
   position: absolute;
   left: 500px;
   color: rgb(58, 58, 58);
   background-color: rgb(51, 204, 204);
   width: 80px;
   padding-left: 14px;
}

nav ul > li:hover > ul {
   visibility: visible;
   z-index: 1;
}

nav ul > li > ul a {
   line-height: 48px;
   height: 48px;
}

.home {
   position: absolute;
   font-family: caveat, sans-serif;
   font-size: 50px;
   left: 400px;
   top: 360px;
}

.home-about,
.home-about-me {
   position: absolute;
}

.home-about-me {
   top: 4px;
   left: 132px;
}

.home-about {
   margin-left: 300px;
}

.home-portfolio,
.home-my-portfolio {
   position: absolute;
}

.home-my-portfolio {
   top: 4px;
   left: 132px;
}

.home-portfolio {
   margin-left: 360px;
   margin-top: 100px;
}

.home-contact,
.home-contact-me {
   position: absolute;
}

.home-contact-me {
   top: 4px;
   left: 132px;
}

.home-contact {
   margin-left: 420px;
   margin-top: 200px;
}

body {
   margin: 0;
   font-family: pompiere, sans-serif;
}

main {
   margin: 0;
   background: transparent url('../img/cover.jpg');
   background-color: rgb(229, 153, 166);
   background-repeat: no-repeat;
   background-size: cover;
   width: 1280px;
   height: 1160px;
}

footer {
   margin: 0;
   background-color: rgb(137, 178, 255);
   width: 1280px;
}

.end {
   font-family: caveat, sans-serif;
   font-size: 18px;
   display: inline-flex;
   justify-content: space-around;
   width: 600px;
   padding-left: 340px;
}
