* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: Oxyen;
   src: url('fonts/Oxygen-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: Oxyen-light;
   src: url('fonts/Oxygen-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
}
@font-face {
   font-family: Oswald;
   src: url('fonts/Oswald-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}

@media (min-width: 1025px) {
   html {
      background-color: #d2dbbd;
      z-index: 0;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 20px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 100px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   .gallary {
      margin-left: 5%;
   }

   .gallary img {
      padding: 0;
      transition: 1s;
      width: 200px;
   }

   .gallary img:hover {
      filter: grayscale(50%);
      transform: scale(1.1, 1.1);
   }

   img {
      width: 200px;
      height: auto;
   }
}
@media (min-width: 769px) and (max-width: 1024px) {
   html {
      background-color: #d2dbbd;
      z-index: 0;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 15px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 70px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   .gallary {
      margin-left: 50px;
   }

   .gallary img {
      transition: 1s;
      width: 200px;
   }

   .gallary img:hover {
      filter: grayscale(50%);
      transform: scale(1.1, 1.1);
   }
}

@media (min-width: 460px) and (max-width: 768px) {
   html {
      background-color: #d2dbbd;
      z-index: 0;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 15px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 30px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   .gallary {
      margin-left: 5%;
   }

   .gallary img {
      transition: 1s;
      width: 200px;
   }

   .gallary img:hover {
      filter: grayscale(50%);
      transform: scale(1.1, 1.1);
   }

   img {
      width: 200px;
      height: auto;
   }
}

@media (min-width: 320px) and (max-width: 459px) {
   html {
      background-color: #d2dbbd;
      z-index: 0;
   }

   header {
      background-color: #193441;
      height: 40px;
      text-align: center;
   }

   ul {
      list-style-type: none;
      color: #d2dbbd;
      font-size: 15px;
   }

   header > nav > ul > li {
      display: inline-block;
      margin: 0 30px;
      margin-top: 10px;
   }

   a {
      font-family: oxygen-light, sans-serif;
      color: inherit;
      text-decoration: none;
   }

   .gallary {
      margin-left: 15%;
   }

   .gallary img {
      transition: 1s;
      width: 150px;
   }

   .gallary img:hover {
      filter: grayscale(50%);
      transform: scale(1.1, 1.1);
   }
}
