html {
   width: 1260px;
   background-color: #f2f6ff;
   /* color: transparent; */
   /* background-image: url('../img/img_8993.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
   background-size: cover; */
}

body {
   margin: 0;
   font-family: lora, serif;
   text-align: center;
}

h1 {
   display: none;
   margin: 0;
}

a:link {
   color: black;
   text-decoration: none;
   transition: 1000ms;
   border-bottom: 4px solid transparent;
}

a:visited {
   color: #3e420a;
}

a:hover {
   color: #83429c;
   border-bottom-color: red;
}

a:active {
   color: orange;
}

nav {
   width: 610px;
   font-family: Oswald, sans-serif;
   font-size: 22px;
   line-height: 44px;
   display: flex;
   justify-content: space-between;
   position: relative;
   top: 110px;
   left: 575px;
}

img:first-of-type {
   position: relative;
   top: -120px;
   left: -440px;
}

p:first-of-type {
   font-family: Quantico, sans-serif;
   position: relative;
   text-decoration: underline;
   top: 160px;
   font-size: 34px;
   text-align: center;
}

img:nth-of-type(2) {
   position: relative;
   top: 50px;
}

p:nth-of-type(2) {
   font-size: 16px;
   font-family: lora, serif;
}
